.box {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

body {
    margin: 0;
}

nav ul {
    display: flex;
    align-items: baseline;
    list-style: none;
    font-size: 12px;
    background-color: #1F2937;
    color: #E5E7EB;
}

nav li {
    margin: 0 10px;
}

.navbar {
    margin-right: 10%;
    margin-left: 5%;
}

.push-left {
    margin-right: auto;
    font-size: 18px;
    font-weight: bold;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
}

.hero-left {
    margin-left: 5%;
    margin-right: 5%;
}

.hero-content {
    display: flex;
    margin-left: 50px; 
    margin-bottom: 100px;
    margin-top: 50px;
}

.hero-title p {
    font-size: 36px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0px;
    margin-top: 0px;
}

.hero-subtitle p {
    font-size: 14px;
    color: #F9FAF8;
    font-weight: lighter;
    margin-top: 0px;
}

.hero-right {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    margin-right: 11%;

}

img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 50px;
}

.info-title {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.info-title div {
    font-weight: bolder;
    font-size: 26px;
    color: #1F2937;
}

.tile-row {
    display: flex;
    justify-content: center;
}

.tile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile {
    width: 100px;
    height: 100px;
    background: #F9FAF8;
    border-radius: 10px;
    background-color: #F9FAF8;
    border: 2px solid #3882F6;
    margin: 15px;
}

.tile-subtitle {
    display: flex;
    
}

.testimonial-box {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;

}

.testimonial {

    font-style: italic;
    line-height: 1.3;
    font-weight: 300;
    font-size: 24px;
    color: #1F2937;
    margin-left: 21%;
    margin-right: 21%;
    margin-top: 55px;

}

.attributed-to {
    font-weight: bold;
    font-size: 16px;
    margin-left: 55%;
    margin-bottom: 70px;
}

.action {
    height: 200px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 80px;
    justify-content: center;
    align-items: center;
}
