.box {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

body {
    margin: 0;
}

nav ul {
    display: flex;
    align-items: baseline;
    list-style: none;
    font-size: 12px;
    background-color: #1F2937;
    color: #E5E7EB;
}

nav li {
    margin: 0 10px;
}

.navbar {
    margin-right: 10%;
    margin-left: 10%;
}

.push-left {
    margin-right: auto;
    font-size: 18px;
    font-weight: bold;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
}

.hero-left {
    margin-left: 10%;
    margin-right: 10%;
}

.hero-content {
    display: flex;
    margin-left: 50px; 
    margin-bottom: 100px;
    margin-top: 50px;
}

.hero-title p {
    font-size: 36px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0px;
    margin-top: 0px;
}

.hero-subtitle p {
    font-size: 14px;
    color: #F9FAF8;
    font-weight: 350;
    margin-top: 0px;
}

.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    font-size: 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    color: #E5E7EB;
    font-weight: 700;
    height: 25px;
    width: 80px;
}

.hero-right {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    margin-right: 11%;

}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555555;
    color: #F9FAF8;
    font-size: 14px;
    height: 250px;
    width: 500px;
}

/*
img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
*/

.info {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 50px;
}

.info-title {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.info-title div {
    font-weight: bolder;
    font-size: 26px;
    color: #1F2937;
}

.tile-row {
    display: flex;
    justify-content: center;
}

.tile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile {
    width: 150px;
    height: 150px;
    background: #F9FAF8;
    border-radius: 10px;
    background-color: #F9FAF8;
    border: 3px solid #3882F6;
    margin: 15px;
}

.tile-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    
}

.testimonial-box {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;

}

.testimonial {

    font-style: italic;
    line-height: 1.3;
    font-weight: 300;
    font-size: 30px;
    color: #1F2937;
    margin-left: 21%;
    margin-right: 21%;
    margin-top: 55px;

}

.attributed-to {
    font-weight: 700;
    font-size: 18px;
    margin-left: 57%;
    margin-bottom: 70px;
}

.action-box {
    display: flex;
    background-color: #3882F6;
    margin-left: 15%;
    margin-right: 20%;
    margin-top: 7%;
    margin-bottom: 7%;
    border-radius: 5px;
}

.action {
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
    margin-left: 10%;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 20px;
}

.action-title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0px;
}

.action-subtitle {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
}

.action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
}

.signup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    font-size: 13px;
    border: 2px solid #E5E7EB;
    border-radius: 6px;
    color: #E5E7EB;
    font-weight: 700;
    height: 25px;
    width: 80px;

}


.footer-box {
    display: flex;
    background-color: #1F2937;
    height: 80px;
    justify-content: center;
    align-items: center;

}

.footer {
    color: #F9FAF8;
    font-size: 14px;
}