.box {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
}

nav ul {
    display: flex;
    list-style: none;
    font-size: 12px;
    background-color: #1F2937;

}

nav li {
    margin: 0 10px;
}

.navbar {
    margin-left: 50px;
    margin-right: 50px;
}

.push-left {
    margin-right: auto;
    font-weight: bold;
    font-size: 16px;
}

.hero {
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
}

.tiles div {
    
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.testimonial {
    background-color: #E5E7EB;
    font-style: italic;
    font-weight: 100;
    font-size: 26px;
    color: #1F2937;

}

.attributed {
    font-weight: bold;
    font-size: 14px;
}

.action {
 height: 200px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 80px;
    justify-content: center;
    align-items: center;
}
