div {
    height: 200px;
}

.hero {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
}

.tiles{
    
}

.quotes {
    background-color: #E5E7EB;

}



.footer {
    background-color: #1F2937;
    height: 80px;
}