.box {
    display: flex;
    flex-direction: column;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    flex: auto;
}

.hero {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
}

.tiles{
    height: 200px;
}

.testimonial {
    background-color: #E5E7EB;
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
    color: #1F2937;

}

.attributed {
    font-weight: bold;
    font-size: 14px;
}

.action {
 height: 200px;
}

.footer {
    background-color: #1F2937;
    height: 80px;
}